
/* Classes */

.main-block{
    display: flex;
}

.half-block{
    position: relative;
    display: inline-block;
    width: calc(50% - 20px);
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%)
}

.chat-name{
    display: inline-block;
    /* width: 100px; */
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    /* background-color: aqua; */
    border: 1px rgb(0, 0, 0, 50%) solid;
}

.chat-message{
    /* white-space: pre-line;  */
}

.header-text{
    display: inline-block
}

.def{
    background-color: #0d6efd;
    border-color: #0d6efd'
}

.def:focus{
    background-color: #001ed1;
    border-color: #001ed1
}

.choosen{
    background-color: #001ed1; 
    border-color: #001ed1
}

.choosen:focus{
    background-color: #001ed1; 
    border-color: #001ed1
}

.new-msg{
    background-color: #d1ab00; 
    border-color: #d1ab00
}

.new-msg:focus{
    background-color: #d1ab00; 
    border-color: #d1ab00
}


/* Id elements */

#chat-room{
    padding: 5px;
    height: 70px;
    width: 100%;
    border-bottom: 1px rgb(0, 0, 0, 50%) solid;
    overflow-x: auto;
    white-space: nowrap;
}

#chat-content{
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column-reverse;
    /* white-space: nowrap; */
}

#send-block{
    position: absolute;
    height: 40px;
    bottom: 0px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

#chat-input{
    width: calc(100% - 82px);
}

#header{
    width: calc(100% - 20px);
    height: 60px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

#login-block{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%)
}

#login-form{
    margin-left: auto;
    margin-right: auto;
}

#logout{
    float: right;
}

/* Elements */

p{
    margin-bottom: 0;
}
