
{% extends 'mainBase.html' %}


{% block libs %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat-styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.22.1/cytoscape.min.js" 
    integrity="sha512-KTe+SDYh8ExHDmrSZuoKkFoFQDSU3ywInRi9SkE0ENpJu72GS+UAxd/l0CAXF8DaGGGOLKd7wKRoa7mEirvIpg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block addButtons %}
    <div id="div-account">
        <div style="display: flex; align-items: center;">
            <div id="div-img-account">
                <img id="img-account" src="{{url_for('static', filename='images/account.png')}}">
            </div>
                <label>Account</label>
                <img class="dropdown-arrow" src="{{url_for('static', filename='images/arrow-down.png')}}">
        </div>
        <div id="dropdown-account">
            <label id="username">{{username}}</label>
            <a id="logout" href="/logout">Logout</a>
        </div>
    </div>
{% endblock %}


{% block mainPlace %}
    <div id="div-chat">
        {% include 'components/x-users.html' %}
        {% include 'components/x-chat.html' %}
    </div>
    {% include 'components/x-graph.html' %}
{% endblock %}



{% block scripts %}
    <script src="{{url_for('static', filename='js/functions.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}