
{% extends 'mainBase.html' %}


{% block mainPlace %}
    <div id="login-block">
        <label id="header-login-block">Please, sign in!</label>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="login-warning">
                        {% for message in messages %}
                            <label class="flashed-message">{{message}}</label>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <form id="login-form" method="POST">
            <table style="width: 100%;">
                <tr class="space">
                    <td><label class="login-item">Username: </label></td>
                    <td><input class="login-input" type="text" name="login" placeholder="Username"></td>
                </tr>
                <tr class="space">
                    <td colspan="2"><input type="submit" id="login-submit" value="Login" ></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
